* {
    background-color: rgb(243, 215, 170);
    text-align: center;
}

h1 {
    font-family: "Roboto", sans-serif;
    line-height: 1em;
    color: rgb(153, 71, 13);
}

h2 {
    font-family: "Roboto", sans-serif;
    line-height: 0.4em;
    color: rgb(39, 17, 109);
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 0.7em;
    color: rgb(83, 95, 95);
    line-height: 0.5;
}    