
* {
    background-color: rgb(247, 234, 213);
    text-align: center;
}

h1 {
    font-family: "Roboto", sans-serif;
    
    line-height: 1em;
    color: purple;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
    color: purple;
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    color: darkslategray;
    line-height: 1.5;
}

.laskut {
    background-color: purple;
    color: white;
    border: 0px;
    border-radius: 4px;
    padding:4px 10px;
}

.nappi {
    background-color: purple;
    color: white;
    border: 0px;
    border-radius: 4px;
    padding:5px 10px;
}

.nappi:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.20), 0 12px 20px 0 rgba(0,0,0,0.15);
}

input[type=text] {
    width: 120px; display: inline;
    height: 20px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 4px;
}

input[type=number] {
    width: 120px; display: inline;
    height: 20px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 4px;
}
